/* .bg-custom {
    background-image: url("/images/bg.jpg");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
    font-family: 'Calibri', sans-serif;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
  }

  @media (max-width: 640px) {
    .my-custom-class {
      /* Styles for screens smaller than 640px */
    }
  }
  
/* Path: resources/css/tailwind.css */

